* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

main {
    width: 75%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.youtube-results, .discogs-results {
    list-style-type: none;
}